body {
    padding: 70px 0;
    /*background-color: red;*/
}

.page-footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}


.sortorder:after {
  content: '\25b2';   /* BLACK UP-POINTING TRIANGLE */
}
.sortorder.reverse:after {
  content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLE */
}